.engagements-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    width: 100%;
    padding-left: var(--content-padding);
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
   /*  width: 100vw; */
}

.engagements-wrapper::-webkit-scrollbar {
    display: none;
}

.engagements-header {
    display: flex;
    
    flex-direction: column;
    width: max-content;
    margin-right: auto;
}

.engagements-header span {
    width: max-content;
    font-weight: 700;
    padding-right: 0.2rem;
    line-height: 1.8rem;
    font-size: 2rem;
    color: var(--text-color);
}

#featured {
    line-height: 2.5rem;
    color: var(--background);
    background-color: var(--text-color);
}

.engagements-carousel {
    display: flex;
    gap: 4rem;
    margin: 5rem 0;
    width: fit-content;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.engagements-carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 1.8rem;
    min-width: 400px;
    color: var(--text-color);
}

.carousel-item span {
    font-weight: 700;

    text-transform: uppercase;
    letter-spacing: -1px;
}

.carousel-item p {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.2rem;
}