.news-wrapper {
    padding: 0 var(--content-padding);
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    margin-bottom: 35vh;
}


.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-header-title {
    font-size: 2rem;
    line-height: 1.8rem;
    font-weight: 700;
}

/* .news-btn {
    margin: auto 0;
    
} */

.news-list {
    display: flex;
    flex-direction: column;
}

.news-item {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border-top: 2px solid grey;
    padding: 1rem 0;
    cursor: pointer;
}

.news-item:hover .news-item-title {
    text-decoration: underline;
}
.news-item:hover .news-photo-wrapper img {
    transform: scale(1.0001);
}

.news-photo-wrapper {
    max-width: 450px;
    padding: 0;
    overflow: hidden;
}

.news-photo-wrapper img {
    object-fit: cover;
    aspect-ratio: calc(16/10);
    transform: scale(1.06);
    transition: 300ms linear;
    will-change: transform;
}

.news-item-title-wrapper {
    display: flex;
}

.news-item-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5rem;
}

@media only screen and (max-width: 750px) {
    .news-item-title {
        font-size: 6vw;
    }
}